<script>
  var elencoMenu = {};
  elencoMenu['network'] = "open";

  function setMenu(elementi, prop) {
    for(var i = 0; i < elementi.length; i++) {
      elementi[i].style.display = prop;
    }
  }

  function manageMenu(menu){
    var elementi = document.getElementsByClassName(menu);
    if(location.href.includes("/qs") || location.href.includes("/agentscan") || location.href.includes("/assets") || location.href.includes("/topology")) {
      elencoMenu[menu] = "open";
      setMenu(elementi, 'block');
    }
    else {
      if(elencoMenu[menu] == "open") {
        elencoMenu[menu] = "close";
        setMenu(elementi, 'none');
      }
      else {
        elencoMenu[menu] = "open";
        setMenu(elementi, 'block');
      }
    }      
  }
</script>

<div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">

                <a href="/"><img src={{ url_for('static', filename="img/nerv&sploit_banner.png") }} class="app-logo" width="100px" height="40px"></a>
                <span class="app-logo"><b> <span class="logo-text">  v.{{version}} </span></b></span>
            </div>
            <ul class="list-unstyled components">
              <li>
                <a href="/dashboard"><i class="fas fa-home"></i> Dashboard</a>
               </li>
              <li>
                <a onclick="javascript:manageMenu('network');"><i class="fas fa-syringe"></i> Network Analysis</a>
              </li>
              <li class="network" style="display: none; background-color: #254142">
                <a href="/qs"><i class="fas fa-syringe"></i> External Scan</a>
               </li>
              <li class="network" style="display: none; background-color: #254142">
                <a href="/agentscan"><i class="fas fa-syringe"></i> Internal Scan</a>
               </li>
               <li class="network" style="display: none; background-color: #254142">
                <a href="/assets"><i class="fas fa-laptop"></i> Assets found</a>
              </li>
              <li class="network" style="display: none; background-color: #254142">
                <a href="/topology"><i class="fas fa-network-wired"></i> Network Discovered</a>
              </li>
              <li>
               <a href="/cvescan"><i class="fas fa-syringe"></i> CVEs analysis</a>
              </li>
              <li>
               <a href="/inspecscan"><i class="fas fa-syringe"></i> Inspec analysis</a>
              </li>
               <li>
                <a href="/assessment"><i class="fas fa-crosshairs"></i> Assessment settings</a>
              </li>
                <li>
                    <a href="/vulnerabilities"><i class="fas fa-bug"></i> Vulnerabilities found</a>
                </li>
                <li>
                    <a href="/reports"><i class="fas fa-file"></i> Reports</a>
                </li>
                <li>
                    <a href="/msfconsole"><i class="fas fa-desktop"></i> Msfconsole</a>
                </li>
                <li>
                    <a href="/console"><i class="fas fa-desktop"></i> Console</a>
                </li>
                <li>
                    <a href="#authmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-university"></i> Documentation</a>
                    <ul class="collapse list-unstyled" id="authmenu">
                        <li>
                            <a href="/documentation#gui"><i class="fas fa-info"></i> Usage</a>
                        </li>
                        <li>
                            <a href="/documentation#api"><i class="fas fa-code"></i> Developer API</a>
                        </li>
                    </ul>
                </li>
                {% if frequency == "continuous" %}
                <li>
                    <a href="/startover"><i class="fas fa-history"></i> Reset System</a>
                </li>
                <hr>
                 <center><span class="scan_type_indicator">Continuous Scan Mode</span></center>
                {% endif %}
                <hr>
                <center><span><a class="withlove" href="https://github.com/kavat/nerve" target="_blank"><i class="fas fa-star c-darkorange"></i> Star us on GitHub</a></span></center>
            </ul>

        </nav>

</div>

<script>
  manageMenu("network");
</script>
